body {
    margin: 0;
    width: 100%;
    height: 100%;
	background-color:rgba(232,232,232,0.4);
	outline: none;
  }
#wpadminbar{
	display: none;
}
/* Header */
#pageHeader{
	height:95px;
	background-color: rgba(225,94,56);
	color: rgba(205,218,247);
}
#pageHeader .site-title{
	display: block;
	font-size: 32px;
}
#pageHeader .site-description{
	display: block;
	font-size: 13px;
}
#pageHeader .site-title>a{
	text-decoration: none;
}
#pageHeader .site-title>a,.main-navigation .main-menu > li > a{
	color: rgba(205,218,247);
}
/* /Header */
/* navigation */
#navigation{		
	padding: 15px;
	padding-top: 0;
	margin-left:0;
	margin-right: 0;
	margin-top: 15px;
}
#navigation_bar>ul>li>div>a{
	font-size: 15px;
	outline:none;
}
#navigation>div>div>a{
font-size: 17px;
color: black;
}
/* /navigation */
/* content */
#content{
	min-height: 100vh;
}
main{
	padding: 15px;
}
main h3{
	font-size: 23px;
}
.object{
	padding: 15px;
	border: 1px solid rgba(205,218,247);
	border-radius: 12px;
}
.object>header>h2{
	font-size: 17px;
	text-align: center;
}
.object>div>a{
	height:40px;
	background-color:rgba(206,219,247);
	border-radius:12px;
	margin-top:15px;
	border:1px solid silver;
	padding:3px;
	font-size:17px;
	outline: none;
	text-decoration: none;
	color: black;
}
.object>div>a:hover{
  background-color: silver;
}
/* /content */
/* footer */
#awesomeweatherwidget-2{
	display: none;
}
footer{
	padding: 15px;
	background-color: #090a0a!important;
}
footer>div,footer>div>a{
	color:rgba(205,218,247);
	display: block;
	font-size: 12px;
}
/* /footer */