@media (min-width: 1200px){
	#main .pano-wrap{
		height: 650px!important;
	}
}
.wp-block-columns{
	width: 100%;
}
.wp-block-column>ymaps:first-child{
	width: 100%!important;
}
#panolens-separate-container,#panolens-separate-container>canvas{
	height:750px;
}
@media (max-width: 480px){
	#panoramaBlock{
		max-height:350px;
	}
	#panolens-separate-container,#panolens-separate-container>canvas{
		height: 100%!important;
	}
}
#vrLogo{
	position: absolute;
    margin-top: -70px;
    color: rgba(205,218,247);
    text-align: center;
    margin-left: 7px;
}
#vrLogo h5{
	margin-bottom: 0;
}
#vrLogo>p{
	margin-top: -5px;
}
#main>.container>article>.entry-content>.wp-block-group>.wp-block-group__inner-container